/*
  Message Styles
*/

.messageLink {
  display: inline-block;
  width: 500px;
}

.message-footer {
  display: grid;
  grid-template-columns: [col1-start] 75%;
  width: 500px;
  margin: auto;
  border: 1px solid lightblue;
  border-top: none;
}

.message-footer .footer {
  grid-column-start: col1-start;
  display: grid;
  grid-template-columns: 25%
      [footer-col1-start] 50%
      [footer-col1-end] 25%;
  grid-template-rows: 100%;
  padding-bottom: 2%;
}

.footer .likes {
  grid-column-start: footer-col1-start;
}

.footer .comments {
  grid-column-start: footer-col1-end;
}

/*
  Create Message Styles
*/

.create {
  margin: auto;
  width: 500px;
  display: grid;
  grid-template-columns: [avatar-start] 20% [create-options] 80%;
}

.create .textInput {
  width: 100%;
  grid-column-start: create-options;
}

.create .avatar {
  padding-right: 20%;
  grid-column-start: avatar-start;
}

.createOptions {
  display: grid;
  grid-template-columns: [format-start]
    40% [gap-start] 30% [button-start] 30%;
}

.createOptions .createFormatting {
  grid-column-start: format-start;
}

.createOptions .createButton {
  grid-column-start: button-start;
}
