/*
  Message Styles
*/

.message-container {
  border: 1px solid lightblue;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  display: grid;
  grid-template-columns: [col1-start] 25% [col1-end] 75%;
  grid-template-rows: 100%;
}

.message-container .message {
  text-align: left;
  grid-template-rows: 30% 40% 30%;
}
.message-container .avatar {
  grid-column-start: col1-start;
}

.message-container .message {
  grid-column-start: col1-end;
}

.message .body {
  padding-left: 2%;
  padding-bottom: 10%;
  padding-top: 2%;
}

.message-footer {
  display: grid;
  grid-template-columns: [col1-start] 75%;
  width: 500px;
  margin: auto;
  border: 1px solid lightblue;
  border-top: none;
}
.message-footer .footer {
  grid-column-start: col1-start;
  display: grid;
  grid-template-columns: 25%
      [footer-col1-start] 50%
      [footer-col1-end] 25%;
  grid-template-rows: 100%;
  padding-bottom: 2%;
}

.footer .likes {
  grid-column-start: footer-col1-start;
}

.footer .comments {
  grid-column-start: footer-col1-end;
}

.message .header {
  display: grid;
  grid-template-columns: 2% [header-col1-start] 40%
    [header-col1-end] 40%;
  grid-template-rows: 100%;
}

.message .header username {
  width: 30%;
  grid-column-start: header-col1-start;
}

.message .header date {
  grid-column-start: header-col1-end;
}

.message .footer .likes {
  grid-column-start: footer-col1-start;
}

/*
  Create Message Styles
*/

.create {
  margin: auto;
  width: 500px;
  display: grid;
  grid-template-columns: [avatar-start] 20% [create-options] 80%;
}

.create .textInput {
  width: 100%;
  grid-column-start: create-options;
}

.create .avatar {
  padding-right: 20%;
  grid-column-start: avatar-start;
}

.createOptions {
  display: grid;
  grid-template-columns: [format-start]
    40% [gap-start] 30% [button-start] 30%;
}

.createOptions .createFormatting {
  grid-column-start: format-start;
}

.createOptions .createButton {
  grid-column-start: button-start;
}
